[Unit]
Description=Nethermind Telemetry
After=network.target

[Service]
Environment=WSURL=ws://localhost:8545/ws/json-rpc
Environment=HTTPURL=http://localhost:8545
Environment=PIPENAME=/var/spool/nethermind.sock
Type=simple
User=nethermind
Group=nethermind
ExecStart=/usr/bin/node /home/nethermind/nethermind-telemetry/src/index.js
Restart=on-failure

[Install]
WantedBy=multi-user.target